.highlightButton{
    cursor:pointer;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    padding: 5px;
    font-weight:bold;
}

.highlightButton:hover{



}

.sup{
    font-weight:bold;
    font-size:0.8em;
    margin-left:5px;
}